header {
  background: linear-gradient(135deg,#e63946, #000000); /* Gradiente suave, similar al del home */
  padding: 20px 40px; /* Ajuste de padding */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
 
}

/* Estilo para la navegaci贸n */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif; /* Fuente moderna */
}

/* Estilo para el logo */
.logo {
  cursor: pointer;
  width: 60px;
  height: auto;
  max-height: 40px;
  border-radius: 8px;
  transition: transform 0.3s ease; /* Efecto de hover */
}

.logo:hover {
  transform: scale(1.1); /* Efecto de aumento */
}

/* Estilo para los elementos de la lista de navegaci贸n */
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

/* Estilo para cada elemento de la lista */
nav li {
  margin: 0 20px;
  cursor: pointer;
  transition: color 0.3s ease; /* Transici贸n suave para el color */
}

nav li:hover {
  color: #ff4b2b; /* Cambia de color al pasar el mouse */
}

/* Estilo para los enlaces */
nav a {
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.3s ease; /* Transici贸n suave para el color */
}

nav a:hover {
  text-decoration: underline;
  color: #ff4b2b; /* Cambia el color al pasar el mouse */
}