
@if(showDashboardNavbar) {
  <header>
    <nav>
      <a (click)="navigateToHome()">
        <img src="icons/logopage.png" alt="" class="logo">
      </a>
      <ul>
        <li><a (click)="navigateToLogin()">Iniciar Sesión</a></li>
        <li><a (click)="navigateToRegister()">Registrarse</a></li>
        <li><a (click)="navigateToContact()">Contacto</a></li>
      </ul>
    </nav>
  </header>
}



@else {
  <header>
    <nav>
      <a (click)="navigateToHome()">
        <img src="icons/logopage.png" alt="" class="logo">
      </a>
      <ul>
        <li><a (click)="navigateToVerPerfil()">Ver Perfil</a></li>
        <li><a (click)="navigateToRoutines()">Rutinas</a></li>
        <li><a (click)="navigateToContact()">Contacto</a></li>
        <li *ngIf="rol === 'basic'"><a (click)="navigateToPremiumPlan()"> Quiero Premium</a></li>
        <li><a (click)="navigateToCerrarSesion()">Cerrar Sesión</a></li>

      </ul>
    </nav>
  </header>
}
