<div class="calendar-container">
  <div *ngIf="loading" class="loading">Cargando calendario...</div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <div *ngIf="!loading && !error">
    <header>
      <button class="nav-button" (click)="prevMonth()">Anterior</button>
      <h2>{{ monthName | titlecase }} {{ year }}</h2>
      <button class="nav-button" (click)="nextMonth()">Siguiente</button>
    </header>

    <table id="calendar">
      <thead>
        <tr>
          <th *ngFor="let day of ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb']">{{ day }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of calendarGrid">
          <td *ngFor="let day of week" (click)="day !== null ? onDayClick(day) : null"
            [ngClass]="{'selected': day !== null && activities[getActivityKey(day)]}">
            <div class="day-content">
              {{ day !== null ? day : '' }}
              <select *ngIf="day !== null" [(ngModel)]="activities[getActivityKey(day)]"
                (change)="updateSelectedActivity(day)" [disabled]="loading || isDateBeforeToday(day)"
                [ngClass]="{'disabled-date': isDateBeforeToday(day)}">
                <option value="">Act</option>
                <option value="Piernas">Piernas</option>
                <option value="Brazos">Brazos</option>
                <option value="Espalda">Espalda</option>
                <option value="Pecho">Pecho</option>
                <option value="Gluteos">Gluteos</option>

              </select>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
