.container {
  border: none;
  width: 31.25rem;
  padding: 2.5rem;
  margin-top: 1.875rem;
  margin-bottom: 13.75rem;
  top: 60%;
  left: 50%;
  border-radius: 3%;
  background-color: #e63946;
  background: linear-gradient(#e63946, rgb(0, 0, 0) 95%);
}
.botonLog {
  text-align: center;
}
.titulo {
  color: black;
}

label {
  display: block;
  margin-bottom: 0.313rem;
  color: rgb(255, 255, 255);
}

input {
  width: 100%;
  padding: 0.625rem;
  border: 0.063rem solid #ccc;
  border-radius: 0.5rem;
  box-shadow: none;
  margin-bottom: 0.938rem;
}

small {
  color: #ffcc00;
}

button {
  border-radius: 0.625rem;
}
.aRegs {
  margin-top: 1.25rem;
}
