.usuarios-lista {
    background-color: #000000; /* Negro */
    padding: 20px; /* Espacio adicional */
    border-radius: 10px; /* Bordes redondeados */
    color: #f1faee; /* Blanco */
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

.usuario-item {
    border-bottom: 1px solid #e63946; /* Rojo */
    padding: 12px; /* Espacio adicional */
    transition: background-color 0.3s; /* Transición suave */
}

.usuario-item:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo claro al pasar el mouse */
}

.usuario-nombre {
    font-weight: bold;
    color: #e63946; /* Rojo */
    font-size: 18px; /* Tamaño de fuente */
}

.flecha {
    font-size: 0.8em; /* Tamaño de flecha más pequeño */
    color: #666; /* Gris para la flecha */
}

.usuario-detalles {
    font-size: 14px;
    color: #f1faee;
    margin-top: 5px;
    padding-left: 10px; /* Indentación para los detalles */
}
.input-busqueda {
    width: 1000px;                /* Anchura más larga */
    padding: 10px 35px 10px 15px; /* Espaciado interno */
    border-radius: 5px;           /* Bordes redondeados */
    border: 1px solid #ccc;       /* Borde ligero */
    background-color: #f0f0f02f;    /* Fondo gris claro */
    color: #aaa;                  /* Texto gris claro */
    font-size: 16px;              /* Tamaño de fuente */
    outline: none;
  }

  .botones-acciones {
    position: absolute; 
    right: 0; 
    display: flex;
    gap: 5px; 
}

  .btn-modificar, .btn-eliminar {
    background: none;
    border: none;
    cursor: pointer;
    color: #e63946;
    font-size: 14px;
    margin-left: 10px;
    transition: color 0.3s;
}

  
  .btn-modificar:hover {
    color: #c98f94; /* Color al pasar el mouse */
}

.btn-eliminar:hover .icono-basura {
    color: #e63946; /* Cambia el color del ícono al pasar el mouse */
}

.icono-basura {
    font-size: 18px;
}
.usuario-header {
    display: flex;
    align-items: center;
    justify-content: center; /* Espacio entre nombre y botones */
    position: relative;
}


.editar-usuario-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background: linear-gradient(#e63946, #000000 95%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }
  
  .editar-usuario-form h3 {
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .editar-usuario-form form {
    display: flex;
    flex-direction: column;
  }
  
  .editar-usuario-form label {
    margin: 10px 0 5px;
    font-weight: bold;
    color: #f7efef;
  }
  
  .editar-usuario-form input {
    background-color: #2e0e0e;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #f7efef;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
  }

  .cargar-url-input{
    width: 100%; /* Puedes ajustarlo a un valor específico como 80%, 400px, etc. */
    max-width: 500px;
  }
  
  .editar-usuario-form button {
    padding: 10px;
    margin-top: 10px;
    background-color: #2f2d2d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .editar-usuario-form button[type="submit"] {
    background-color: #e63946;
  }
  
  .editar-usuario-form button:hover {
    background-color: #48535f;
  }
  
  .editar-usuario-form button[type="submit"]:hover {
    background-color: #ff4c5b;
  }