.usuarios-lista {
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    color: #f1faee;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.usuario-item {
    border-bottom: 1px solid #e63946;
    padding: 12px;
    transition: background-color 0.3s;
}

.usuario-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.usuario-nombre {
    font-weight: bold;
    color: #e63946;
    font-size: 18px;
}

.flecha {
    font-size: 0.8em;
    color: #666;
}

.usuario-detalles {
    font-size: 14px;
    color: #f1faee;
    margin-top: 5px;
    padding-left: 10px;
}
.input-busqueda {
    width: 1000px;
    padding: 10px 35px 10px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f02f;
    color: #aaa;
    font-size: 16px;
    outline: none;
  }

  .botones-acciones {
    position: absolute;
    right: 0;
    display: flex;
    gap: 5px;
}

  .btn-modificar, .btn-eliminar {
    background: none;
    border: none;
    cursor: pointer;
    color: #e63946;
    font-size: 14px;
    margin-left: 10px;
    transition: color 0.3s;
}


  .btn-modificar:hover {
    color: #c98f94;
}

.btn-eliminar:hover .icono-basura {
    color: #e63946;
}

.icono-basura {
    font-size: 18px;
}
.usuario-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.editar-usuario-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 8px;
  background: linear-gradient(#e63946, #000000 95%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  text-align: center;
}
.editar-usuario-form h3 {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 15px;
}
.editar-usuario-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.editar-usuario-form label {
  margin: 5px 0;
  font-weight: bold;
  color: #f7efef;
  font-size: 14px;
}
.editar-usuario-form input,
.editar-usuario-form select {
  background-color: #2e0e0e;
  padding: 6px;
  margin-bottom: 10px;
  border: 1px solid #f7efef;
  border-radius: 4px;
  color: #ffffff;
  font-size: 14px;
  width: 90%;
  box-sizing: border-box;
}
.editar-usuario-form .role-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
.editar-usuario-form .role-group input {
  margin-right: 5px;
}
.editar-usuario-form button {
  padding: 6px 12px;
  margin-top: 10px;
  background-color: #2f2d2d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.editar-usuario-form button[type="submit"] {
  background-color: #e63946;
}
.editar-usuario-form button:hover {
  background-color: #48535f;
}
.editar-usuario-form button[type="submit"]:hover {
  background-color: #ff4c5b;
}
.role-group {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.role-group label {
  font-weight: normal;
  color: #f7efef;
  font-size: 16px;
}

.role-group input[type="radio"] {
  margin-right: 5px;
  transform: scale(1.1); /* Aumenta ligeramente el tamaño del radio button */
  accent-color: #e63946;
}
/* Estilo al pasar el mouse sobre los radio buttons */
.role-group input[type="radio"]:hover {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que el overlay esté encima de todo */
  backdrop-filter: blur(5px);
}
